
body
{
    background-color: #111111;
    font-family: verdana;
}

#game-header
{
    margin-bottom: 0;
    padding-bottom: 0;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

.header-red
{
    color: #AA0000;
}

.header-white
{
    color: #AAAAAA;
}

#game-area
{
    width: 640px;
    margin: auto;
    background-color: #333333;
    color: #AAAAAA;
    padding: 10px;
}

#text-game-area
{
    margin-top: 10px;
}

#text-game-console-area
{
    border: 4px solid #000000;
    margin-top: 10px;
}

#text-area
{
    background-color: #000000;
    padding: 10px;
    font-family: Lucida Console;
    color: #FFFFFF;
    height: 240px;
    overflow-y: auto;
    word-wrap: break-word;
}

#text-btn
{
    background-color: #0000FF;
    border: 0;
    padding: 4px;
    color: #FFFFFF;
    width: 100%;
}

#text-btn:active
{
    background-color: #000099;
}

input
{
    background-color: #000000;
    font-family: Lucida Console;
    padding: 5px;
    border: 0;
    color: #AAAAAA;
    padding-bottom: 8px;
    width: 98.4%;
}

button
{
    background-color: #444444;
    border: 1px solid #111111;
    color: #AAAAAA;
}

.small-gray-text
{
    color: #555555;
    font-size: 10px;
}